body {
    background-color: rgb(170, 194, 203);
}

hr{
    
    border-style:none;
    border-top-style: dotted;
    width: 20%; 
    border-color: grey;
    border-width: 5px;
}
h3,h1{
    color: #885574fa;
}
.mine:hover{
    background-color: rgb(140, 101, 105);
}
li{
    color: rgb(26, 73, 54);
}
table{
    color: rgb(49, 63, 23);
}
